/**
 * Estilos de Roby Sottini.
 */


/**
 * Menú vertical desplegable. 
 */
header, main, footer {
    padding-left: 240px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
        padding-left: 0;
   }
}

/**
 * Footer.
 */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/**
 * Clase de prueba.
 */
.clase {
    border:5px solid blue;
}