{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marcas</h1>

    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.nombre }}</td>
                <td>
                    <a href="{{ path('marca_edit', { 'id': marca.id }) }}" class="btn waves-effect waves-light">
                        <i class="material-icons left">edit</i>Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>

    <div class="fixed-action-btn" style="bottom: 100px; right: 24px;">
        <a href="{{ path('marca_new') }}" class="btn-floating btn-large waves-effect waves-light">
            <i class="large material-icons">add_circle</i>
        </a>
    </div>
    
{% endblock %}
