{% extends 'base.html.twig' %}

{% block body %}
    <h1>Marcas</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for marca in marcas %}
            <tr>
                <td>{{ marca.nombre }}</td>
                <td>
                    <a href="{{ path('marca_edit', { 'id': marca.id }) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('marca_new') }}" class="btn btn-primary">Nueva marca</a>
{% endblock %}
