{% extends 'base.html.twig' %}

{% block body %}
    <h1>Principios activos</h1>

    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for principioActivo in principiosActivos %}
            <tr>
                <td>{{ principioActivo.nombre }}</td>
                <td>
                    <a href="{{ path('principioactivo_edit', { 'id': principioActivo.id }) }}" class="btn waves-effect waves-light">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    
    <a href="{{ path('principioactivo_new') }}" class="btn waves-effect waves-light">Nuevo principio activo</a>
{% endblock %}
