{% extends 'base.html.twig' %}

{% block body %}
    <h1>Principios activos</h1>

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
        {% for principioActivo in principiosActivos %}
            <tr>
                <td>{{ principioActivo.nombre }}</td>
                <td>
                    <a href="{{ path('principioactivo_edit', { 'id': principioActivo.id }) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('principioactivo_new') }}" class="btn btn-primary">Nuevo principio activo</a>
{% endblock %}
