{% extends 'base.html.twig' %}

{% block body %}
    <h1>Torniquetes</h1>

    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for torniquete in torniquetes %}
            <tr>
                <td>{{ torniquete.marca }}</td>
                <td>{{ torniquete.cantidad }}</td>
                <td>
                    <a href="{{ path('torniquete_edit', { 'id': torniquete.id }) }}" class="btn waves-effect waves-light">
                        <i class="material-icons left">edit</i>Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    
    <div class="fixed-action-btn" style="bottom: 100px; right: 24px;">
        <a href="{{ path('torniquete_new') }}" class="btn-floating btn-large waves-effect waves-light">
            <i class="large material-icons">add_circle</i>
        </a>
    </div>
    
{% endblock %}
