{% extends 'base.html.twig' %}

{% block body %}
    <h1>Torniquetes</h1>

    <table class="bordered striped highlight responsive-table">
        <thead>
            <tr>
                <th>Marca</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody>
        {% for torniquete in torniquetes %}
            <tr>
                <td>{{ torniquete.marca }}</td>
                <td>{{ torniquete.cantidad }}</td>
                <td>
                    <a href="{{ path('torniquete_edit', { 'id': torniquete.id }) }}" class="btn waves-effect waves-light">Editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    
    <a href="{{ path('torniquete_new') }}" class="btn waves-effect waves-light">Nuevo torniquete</a>
{% endblock %}
