{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nuevo torniquete</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        
    {{ form_end(form) }}
    <br/>
    <br/>
    <br/>

    <a href="{{ path('torniquete_index') }}" class="btn waves-effect waves-light">
        <i class="material-icons left">arrow_back</i>Volver a la lista</a>
{% endblock %}
